{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIBSOft | {% block title %}{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>

    <div class="container bg-primary">
        <button class="btn btn-block btn-primary">Hello</button>
    </div>


    <!-- Boostrap JS -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    
</body>
</html>